/* ===== Reset Start ===== */
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:focus {
    outline: none;
}
body{
    margin: 0;
    background-color: #fff;
    color: #999999;
    font: 400 15px/1 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
    line-height: 1;
}
p {
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
    color: #8bc34a;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
input,
textarea,
button {
    border: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}
button:focus {
    outline: none;
}
.btn.focus, .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}
textarea {
    resize: vertical;
}
input[type="submit"]{
    cursor: pointer;
}
input {
    width: 100%;
}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}

textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}
textarea:focus:-moz-placeholder           {color: transparent}
textarea:focus:-ms-input-placeholder      {color: transparent}

blockquote {
    margin: 0;
}
/* ----- Reset End ----- */

/* ----- Default Components Start ----- */

/* header, section-title, default-text, buttons, name-title, quote, icon, footer, tabs, form */
.default-section {
    padding: 100px 0 110px;
}

.small-section {
    padding: 90px 0;
}

.title > *{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
}
.title span:first-child {
    font-family: 'Kaushan Script', cursive;
    display: block;
    text-transform: none;
    font-weight: 400;
}

.title.section-title {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
.title::after {
    display: block;
    content: "";
    height: 3px;
    width: 60px;
    background-color: #f38181;
    margin: auto;
}
.title.section-title span:first-child {
    margin-bottom: 22px;
}
.title.section-title::after {
    margin-top: 40px;
}
.item-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    font-size: 14px;
    display: block;
}
.default-text {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    color: #999999;
}
.text-section {
    text-align: center;
    margin-bottom: 90px;
}
blockquote, .blockquote {
    font: 300 24px/1.5 'Roboto', sans-serif;
    font-style: italic;
    color: #999999;
}
blockquote span,
.blockquote span {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
    margin-top: 10px;
    display: block;
}
blockquote span::before,
.blockquote span::before{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 4px;
    content: "";
    height: 3px;
    width: 60px;
    background-color: #f38181;
}
.btn {
    display: inline-block;
    padding: 12px 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    line-height: 1;
    font-size: 14px;
    border-radius: 0;
}
.btn.btn-transparent {
    border: 3px solid #fff;
    color: #fff;
    -webkit-transition: all linear .5s;
    transition: all linear .5s;
}
.btn.btn-transparent:hover {
    border-color: #f38181;
    color: #f38181;

}
header#header {
    color: #ffffff;
    padding: 30px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
}
header#header nav {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 23px;
}
header#header nav a {
    -webkit-transition: all linear .25s;
    transition: all linear .25s;
    padding-bottom: 0;
    position: relative;
}
header#header nav a + a {
    margin-left: 50px;
}
header#header nav a::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #fce38a;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all linear .25s;
    transition: all linear .25s;
}
header#header nav a:hover {
    color: #fce38a;
}
header#header nav a:hover::after {
    opacity: 1;
    bottom: -12px;
}
.slick-carousel-arrows button {
    height: 12px;
    width: 12px;
    display: inline-block;
    border: 3px solid #cccccc;
    border-right-width: 0;
    border-top-width: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    margin-top: -8.5px;
}
.slick-carousel-arrows button#prev {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 30px;
}
.slick-carousel-arrows button#next {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    right: 30px;
}

/* ===== Default Components End ===== */

/* ===== Custom Style Start ===== */

/* ----- Inner start ----- */
.inner {
    background: url('../img/inner-bg.jpg') no-repeat center / cover;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    padding-top: 53px;
}
.inner .inner-content {
    margin: auto;
}
.inner .inner-content h1 {
    font-size: 120px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
.inner .inner-content span {
    color: #ffffff;
    font-size: 72px;
    margin-bottom: 30px;
}
.inner .title::after {
    background-color: #fff;
}
.inner .inner-content .btn {
    margin-top: 30px;
}
/* ----- Inner end ----- */

/* ----- About Us + Our-team start ----- */

.about-us .about-us-item, .our-team .our-team-item {
    background-color: #95e1d3;
    position: relative;
}
.about-us .about-us-item img, .our-team .our-team-item img {
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
    position: relative;
    top: 0;
    left: 0;
}
.about-us .about-us-item:hover img, .our-team .our-team-item:hover img {
    top: -10px;
    left: -10px;
}
.about-us .about-us-item .wrap-item,
.our-team .our-team-item .wrap-item,
.some-work .some-work-item .wrap-item {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(252,227,138,1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,227,138,1)), color-stop(100%, rgba(243,129,129,1)));
    background: -webkit-gradient(linear, left top, right top, from(rgba(252,227,138,1)), to(rgba(243,129,129,1)));
    background: linear-gradient(to right, rgba(252,227,138,1) 0%, rgba(243,129,129,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce38a', endColorstr='#f38181', GradientType=1 );
    opacity: 0;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}
.about-us .about-us-item:hover .wrap-item,
.our-team .our-team-item:hover .wrap-item {
    opacity: .9;
    top: -10px;
    bottom: 10px;
    right: 10px;
    left: -10px;
}
.about-us .about-us-item .wrap-item .item-description,
.our-team .our-team-item .wrap-item .item-description {
    margin: auto;
    font-size: 26px;
}
.about-us .about-us-item .wrap-item .item-description span {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.our-team .our-team-item .wrap-item .item-description a {
    font-size: 30px;
    color: #f38181;
    background-color: #fce38a;
    display: block;
    text-align: center;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
}
.our-team .our-team-item .wrap-item .item-description a + a {
    border-left: 1px solid #e99881;
}
.our-team .our-team-item .wrap-item .item-description a:hover {
    background-color: #f38181;
    color: #ffffff;
}
.our-team .our-team-item .wrap-item .item-description i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    /*margin-left: -3px;*/
}
.our-team .our-team-title {
    text-align: center;
    margin-top: 30px;
}
.our-team .our-team-title span + span {
    font: 300 15px/1 'Roboto', sans-serif;
    font-style: italic;
    color: #999999;
    margin-top: 15px;
    display: block;
}

/* ----- About Us + Our-team end ----- */

/* ----- Numbers Start ----- */

.numbers {
    background-color: #95e1d3;
    color: #ffffff;
    text-align: center;
}
.numbers .row-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-right: 1px solid rgba(255, 255, 255, .3);
}
.numbers .row-numbers .number-item {
    width: 20%;
    padding: 90px 0;
}
.numbers .row-numbers .number-item + .number-item {
    border-left: 1px solid rgba(255, 255, 255, .3);
}
.numbers .row-numbers .number-item span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.numbers .row-numbers .number-item span:first-child {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 25px;
    position: relative;
    top: 0;
    -webkit-transition: all linear .5s;
    transition: all linear .5s;
}
.numbers .row-numbers .number-item span:first-child:hover {
    top: -10px;
}

/* ----- Numbers End ----- */

/* ----- Services Start ----- */

.services .row {
    padding: 50px 0;
}
.services .row + .row {
    border-top: 1px solid #e5e5e5;
}
.services .services-item .services-item-img {
    width: 61px;
    margin-right: 30px;
}
.services .services-item .services-item-img img {
    width: 100%;
    height: auto;
}
.services .services-item .services-item-description .item-title {
    margin-bottom: 15px;
}

/* ----- Services End ----- */

/* ----- Devices Start ----- */

.devices {
    background: url('../img/devices-section-bg.jpg') no-repeat center / cover;
    color: #ffffff;
    position: relative;
    padding-bottom: 0;

}
.devices .devices-wrapper {
    padding-top: 100px;
}
.devices .phone-l-image {
    text-align: center;
    width: 100%;
}
.devices .phone-l-image img {
    width: 25%;
}
.devices .phone-s-image {
    position: absolute;
    bottom: -60px;
    right: 31%;
    width: 12%;
}

/* ----- Devices End ----- */

/* ----- What We Do Start ----- */

.what-we-do #accordion {
    height: 100%;
}
.what-we-do #accordion h3 {
    position: relative;
    padding: 24px 60px 25px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}
.what-we-do #accordion h3 img {
    position: absolute;
    top: 16px;
    left: 16px;
}
.what-we-do #accordion h3::before {
    content: '';
    height: 12px;
    width: 12px;
    display: block;
    border: 3px solid #cccccc;
    border-right-width: 0;
    border-top-width: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    right: 21px;
    top: 22px;
    -webkit-transition: all linear .1s;
    transition: all linear .1s;
}
.what-we-do #accordion h3.ui-accordion-header-active::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 28px;
}
.what-we-do #accordion div {
    overflow-y: auto;
    height: 145px;
    padding: 21px 25px 25px 20px;
    font-style: italic;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.what-we-do #accordion div + h3 {
    margin-top: 10px;
}

/* ----- What We Do End ----- */

/* ----- Quote Start ----- */

.quote {
    background-color: #f8f8f8;
}
.quote .quote-wrapper {
    position: relative;
    padding: 0 110px;
}
.quote .quote-carousel .quote-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.quote .quote-carousel .quote-item .quote-image {
    height: 150px;
    width: 150px;
    border: 1px solid #95e1d3;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    text-align: center;
    line-height: 150px;
    margin-right: 60px;
}
.quote .quote-carousel .quote-item .quote-image img {
    display: inline;
}

/* ----- Quotes End ----- */

/* ----- Logos Start ----- */

.logos-template {
    background-color: #f8f8f8;
}
.logos-template .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* ----- Logos End ----- */

/* ----- Some Work Start  ----- */

.some-work {
    padding-bottom: 0;
}

.some-work .some-work-items {
    width: 100%;
}
.some-work .some-work-items > div {
    width: 25%;
}
.some-work .some-work-items .some-work-item {
    position: relative;
}
.some-work .some-work-item:hover .wrap-item {
    opacity: .9;
}
.some-work .some-work-items .some-work-item .item-description {
    margin: auto;
}
.some-work .some-work-items .some-work-item .item-description span{
    color: #ffffff;
    margin-top: 18px;
    display: block;
}
.some-work .some-work-items .some-work-item .item-description span + span {
    font: 300 15px/1 'Roboto', sans-serif;
    font-style: italic;
}

/* ----- Some Work End  ----- */

/* ----- Reviews Start  ----- */

.reviews .reviews-wrapper {
    position: relative;
    padding: 0 60px;
}
.reviews .reviews-carousel .reviews-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 50px;
}
.reviews .reviews-carousel .reviews-item .reviews-image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 30px;
}

/* ----- Reviews End  ----- */

/* ----- What People Say Start  ----- */

.what-people-say {
    background: url('../img/what-people-say-bg.jpg') no-repeat center / cover;
}
.what-people-say .people-item {
    padding: 40px 40px 30px;
}
.what-people-say .people-item .people-item-image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 30px;
}
.what-people-say .people-item .people-item-title span + span {
    font: 300 15px/1 'Roboto', sans-serif;
    font-style: italic;
    color: #333333;
    margin-top: 15px;
    display: block;
}
.what-people-say .people-item .people-item-title::after {
    display: block;
    content: "";
    height: 3px;
    width: 60px;
    background-color: #f38181;
    margin-top: 18px;
    margin-bottom: 20px;
}

/* ----- What People Say End  ----- */

/* ===== Custom Style End ===== */