/* ===== Reset Start ===== */
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:focus {
    outline: none;
}
body{
    margin: 0;
    background-color: black;
    color: #999999;
    font: 400 15px/1 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
    line-height: 1;
}
p {
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
    color: #8bc34a;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
input,
textarea,
button {
    border: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}
button:focus {
    outline: none;
}
.btn.focus, .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}
textarea {
    resize: vertical;
}
input[type="submit"]{
    cursor: pointer;
}
input {
    width: 100%;
}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}

textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}
textarea:focus:-moz-placeholder           {color: transparent}
textarea:focus:-ms-input-placeholder      {color: transparent}

blockquote {
    margin: 0;
}
/* ----- Reset End ----- */

/* ----- Default Components Start ----- */

/* header, section-title, default-text, buttons, name-title, quote, icon, footer, tabs, form */
.default-section {
    padding: 100px 0 110px;
}

.small-section {
    padding: 90px 0;
}

.title > *{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
}
.title span:first-child {
    font-family: 'Kaushan Script', cursive;
    display: block;
    text-transform: none;
    font-weight: 400;
}

.title.section-title {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
.title::after,
blockquote span::before,
.blockquote span::before {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #f38181;
    display: block;
    margin: auto;
}
.title.section-title span:first-child {
    margin-bottom: 22px;
}
.default-text {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
}
blockquote, .blockquote {
    font: 300 24px/1.5 'Roboto', sans-serif;
    font-style: italic;
    color: #999999;
}
blockquote span,
.blockquote span {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
    margin-top: 20px;
}
.btn {
    display: inline-block;
    padding: 12px 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    line-height: 1;
    font-size: 14px;
    border-radius: 0;
}
.btn.btn-transparent {
    border: 3px solid #fff;
    color: #fff;
}
.btn.btn-transparent:hover {
    border-color: #f38181;
    color: #f38181;
    -webkit-transition: all linear .5s;
    transition: all linear .5s;
}
header#header {
    color: #ffffff;
    padding: 30px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
}
header#header nav {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 23px;
}
header#header nav a {
    -webkit-transition: all linear .25s;
    transition: all linear .25s;
    padding-bottom: 0;
}
header#header nav a + a {
    margin-left: 50px;
}
header#header nav a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 12px;
}

/* ===== Default Components End ===== */

/* ===== Custom Style Start ===== */

/* ----- Inner start ----- */
.inner {
    background: url('../img/inner-bg.jpg') no-repeat center / cover;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    padding-top: 53px;
}
.inner .inner-content {
    margin: auto;
}
.inner .inner-content h1 {
    font-size: 120px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
.inner .inner-content span {
    color: #ffffff;
    font-size: 72px;
    margin-bottom: 30px;
}
.inner .title::after {
    background-color: #fff;
}
.inner .inner-content .btn {
    margin-top: 30px;
}
/* ----- Inner end ----- */

/* ===== Custom Style End ===== */