/* ===== Reset Start ===== */
*{
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body{
    margin: 0;
    background-color: #fff;
    color: #999999;
    font: 400 15px/1 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
    line-height: 1;
}
p {
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
    color: #8bc34a;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
input,
textarea,
button {
    border: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}
button:focus {
    outline: none;
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
textarea {
    resize: vertical;
}
input[type="submit"]{
    cursor: pointer;
}
input {
    width: 100%;
}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}

textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}
textarea:focus:-moz-placeholder           {color: transparent}
textarea:focus:-ms-input-placeholder      {color: transparent}

blockquote {
    margin: 0;
}
/* ----- Reset End ----- */

/* ----- Default Components Start ----- */

/* header, section-title, default-text, buttons, name-title, quote, icon, footer, tabs, form */
.default-section {
    padding: 100px 0 110px;
}

.small-section {
    padding: 90px 0;
}

.title > *{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
}
.title span:first-child {
    font-family: 'Kaushan Script', cursive;
    display: block;
    text-transform: none;
    font-weight: 400;
}

.title.section-title {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
.title::after,
blockquote span::before,
.blockquote span::before {
    content: "";
    height: 3px;
    width: 60px;
    background-color: #f38181;
    display: block;
    margin: auto;
}
.title.section-title span:first-child {
    margin-bottom: 22px;
}
.title.section-title::after {
    margin-top: 40px;
}
.item-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    font-size: 14px;
    display: block;
}
.default-text {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    color: #999999;
}
.text-section {
    text-align: center;
    margin-bottom: 90px;
}
blockquote, .blockquote {
    font: 300 24px/1.5 'Roboto', sans-serif;
    font-style: italic;
    color: #999999;
}
blockquote span,
.blockquote span {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
    margin-top: 20px;
}
.btn {
    display: inline-block;
    padding: 12px 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    line-height: 1;
    font-size: 14px;
    border-radius: 0;
}
.btn.btn-transparent {
    border: 3px solid #fff;
    color: #fff;
    transition: all linear .5s;
}
.btn.btn-transparent:hover {
    border-color: #f38181;
    color: #f38181;

}
header#header {
    color: #ffffff;
    padding: 30px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
}
header#header nav {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 23px;
}
header#header nav a {
    transition: all linear .25s;
    padding-bottom: 0;
    position: relative;
}
header#header nav a + a {
    margin-left: 50px;
}
header#header nav a::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #fce38a;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all linear .25s;
}
header#header nav a:hover {
    color: #fce38a;
}
header#header nav a:hover::after {
    opacity: 1;
    bottom: -12px;
}

/* ===== Default Components End ===== */

/* ===== Custom Style Start ===== */

/* ----- Inner start ----- */
.inner {
    background: url('../img/inner-bg.jpg') no-repeat center / cover;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    padding-top: 53px;
}
.inner .inner-content {
    margin: auto;
}
.inner .inner-content h1 {
    font-size: 120px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
.inner .inner-content span {
    color: #ffffff;
    font-size: 72px;
    margin-bottom: 30px;
}
.inner .title::after {
    background-color: #fff;
}
.inner .inner-content .btn {
    margin-top: 30px;
}
/* ----- Inner end ----- */

/* ----- About Us start ----- */

.about-us .about-us-item {
    background-color: #95e1d3;
    position: relative;
}
.about-us .about-us-item img {
    transition: all linear .2s;
    position: relative;
    top: 0;
    left: 0;
}
.about-us .about-us-item:hover img {
    top: -10px;
    left: -10px;
}
.about-us .about-us-item .wrap-item {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(252,227,138,1);
    background: -moz-linear-gradient(left, rgba(252,227,138,1) 0%, rgba(243,129,129,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,227,138,1)), color-stop(100%, rgba(243,129,129,1)));
    background: -webkit-linear-gradient(left, rgba(252,227,138,1) 0%, rgba(243,129,129,1) 100%);
    background: -o-linear-gradient(left, rgba(252,227,138,1) 0%, rgba(243,129,129,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,227,138,1) 0%, rgba(243,129,129,1) 100%);
    background: linear-gradient(to right, rgba(252,227,138,1) 0%, rgba(243,129,129,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce38a', endColorstr='#f38181', GradientType=1 );
    opacity: 0;
    transition: all linear .2s;
    color: #fff;
    display: flex;
    text-align: center;
}
.about-us .about-us-item:hover .wrap-item {
    opacity: .9;
    top: -10px;
    bottom: 10px;
    right: 10px;
    left: -10px;
}
.about-us .about-us-item .wrap-item .item-description {
    margin: auto;
    font-size: 26px;
}
.about-us .about-us-item .wrap-item .item-description span {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
/* ----- About Us end ----- */

/* ----- Numbers Start ----- */

.numbers {
    background-color: #95e1d3;
    color: #ffffff;
    text-align: center;
}
.numbers .row-numbers {
    display: flex;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-right: 1px solid rgba(255, 255, 255, .3);
}
.numbers .row-numbers .number-item {
    width: 20%;
    padding: 90px 0;
}
.numbers .row-numbers .number-item + .number-item {
    border-left: 1px solid rgba(255, 255, 255, .3);
}
.numbers .row-numbers .number-item span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
.numbers .row-numbers .number-item span:first-child {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 25px;
    position: relative;
    top: 0;
    transition: all linear .5s;
}
.numbers .row-numbers .number-item span:first-child:hover {
    top: -10px;
}

/* ----- Numbers End ----- */

/* ----- Services Start ----- */

.services .row {
    padding: 50px 0;
}
.services .row + .row {
    border-top: 1px solid #e5e5e5;
}
.services .services-item .services-item-img {
    width: 61px;
    margin-right: 30px;
}
.services .services-item .services-item-img img {
    width: 100%;
    height: auto;
}
.services .services-item .services-item-description .item-title {
    margin-bottom: 15px;
}

/* ----- Services End ----- */

/* ----- Devices Start ----- */

.devices {
    background: url('../img/devices-section-bg.jpg') no-repeat center / cover;
    color: #ffffff;
    position: relative;
    padding-bottom: 0;

}
.devices .devices-wrapper {
    /*overflow: hidden;*/
    /*max-height: 100vh;*/
    padding-top: 100px;
}
.devices .phone-l-image {
    text-align: center;
    width: 100%;
}
.devices .phone-l-image img {
    width: 25%;
}
.devices .phone-s-image {
    position: absolute;
    bottom: -60px;
    right: 31%;
    width: 12%;
}

/* ----- Devices End ----- */

/* ===== Custom Style End ===== */